.data-table {
    height: 500px !important;
    overflow: auto;
    scrollbar-color: #1a5276 #ffffff;
    scrollbar-width: thin;
}
.data-table-head {
    height: 500px !important;
    overflow: auto;
    scrollbar-color: #1a5276 #ffffff;
    scrollbar-width: thin;
}